body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1{
	font-weight: 500;
}

input[type=button]{
	background-color: #ED5F21;
	border: none;
	color: #FFFFFF;
	font-size: 10pt;
	padding: 5px 10px 10px 10px;
	cursor: pointer;

  	-webkit-appearance: none;
  	-moz-box-shadow:    inset 0 -5px 0 #BE4C1A;
  	-webkit-box-shadow: inset 0 -5px 0 #BE4C1A;
  	box-shadow:         inset 0 -5px 0 #BE4C1A;

  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	
}

input[type=button].close{
	display: none;
}


input[type='range'] {  
    -webkit-appearance: none;  
    background-color: gray;  
    margin-top: 30px;
    width: 30%;
    height: 20px;
}  
  
input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    background-color: #444;  
    width: 30px;  
    height: 50px;  
}

input[type='text']{
	font-size: 10pt;
	height: 20px;
	margin: 5px 10px 5px 10px;
	width: 33%;
}

.deck{
	background-color: grey;
	display: inline-block;
    width: 45%;
    height: auto;
    padding: 5px;
}

#mixer input[type=button]{
	width: 60px;
}

#search{
	background-color: gray;
	position: fixed;
	top: 100%;
	left:0;
	height: 100%;
	width: 100%;
	text-align: left;
}

#search.open{
	top: 50%;

	transition-property: top;
	transition-duration: .5s;
	transition-timing-function: linear;
	/* Safari */
	-webkit-transition-property:top;
	-webkit-transition-duration:.5s;
	-webkit-transition-timing-function:linear;
}

#results{
	height: 100%;
	width: 100%;
	overflow: auto;
	list-style: none;
}

#results li.result{	
	height: 100px;	
	padding: 10px;
	position: relative;
}

#results li.result h2{	
	font-weight: 500;
	position: absolute;
	top: -10px;
	left: 175px;
}

#results li.result .time{	
	color: #B0B0B0;
}

#results li.result img{
	position: absolute;
	top:0;
	left:0;
	height: auto;
	width: 150px;
}

#results form.loadSong{
	display: inline;
	position: relative;
	padding: 10px;
	top:50px;
	left:165px;
}

#searchbox{
	background-color: black;
	position: absolute;
	top: -45px;
	height: 35px;
	width: 100%;
	padding: 5px;
}

#wrapper{
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}