body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h1{
	font-weight: 500;
}

.deck{
	background-color: grey;
	display: inline-block;
	height: 500px;
	position: static;
    width: 700px;
}

#wrapper{
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

input[type='range'] {  
    -webkit-appearance: none;  
    background-color: gray;  
    margin-top: 30px;
    width: 30%;
    height: 20px;
}  
  
input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    background-color: #444;  
    width: 30px;  
    height: 50px;  
}  